<!DOCTYPE html>
<html lang="en">
<head>
  <title>Department of Oncology</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div id="main">
    <div id="canvas">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Department of Oncology</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/patient_dashboard">Back</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div id="content" class="container py-3">
        <!-- Department details -->
        <h4>Details of Department: {{ department.name }}</h4>
        <p class="mb-4">
          {{ department.description or "No description available for this department." }}
        </p>

        <!-- Doctors List -->
        <h4>Doctors' list</h4>
        <div class="table-responsive">
          <table class="table border">
            <tbody>
              {% for doctor in doctors %}
              <tr>
                <td>Dr. {{ doctor.name }}</td>
                <td class="text-end">
                  <a href="/check-availability/{{ doctor.id }}" class="btn btn-outline-primary btn-sm me-2">📅 Check availability</a>
                  <a href="/doctor-details/{{ doctor.id }}" class="btn btn-outline-primary btn-sm">👁️ View details</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
